html {
    font-size: 62.5%;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1.6rem;

}

.cabecalho {
    padding: 30px 15px;
    position: relative;
}

.cabecalho .logo {
    background-image: url('../images/logo.jpg');
    width: 85px;
    height: 85px;
    display: inline-block;
}

.logo h1 {
    font-size: 0;
}

.cabecalho nav {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 30px;
}

.cabecalho ul li {
    display: inline-block;
    padding: 15px;
}

.cabecalho ul li a:hover {
    font-weight: bold;
}

.painel {
    background-image: url('../images/painel.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
}

.painel h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.secao-com-texto {
    padding: 153px;
    text-align: center;
    clear: both;
}

.secao-com-texto img {
    width: 170px;
    height: 170px;
    margin-bottom: 70px;

}

.secao-com-texto h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 37px;
}

.secao-com-texto p {
    font-size: 18px;
    width: 702px;
    margin: 0 auto;
}

.secao-com-texto.onde-estamos p {
    font-size: 28px;
    width: 480px;
}

.ladrilho div {
    float: left;
}

.ladrilho .grande {
    background-image: url('../images/4.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
    width: 50%;
}

.ladrilho .pequeno {
    background-image: url('../images/3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 300px;
    width: 25%;
}

.ladrilho .pequeno.grao {
    background-image: url('../images/2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 300px;
    width: 25%;
}

.ladrilho .medio {
    background-image: url('../images/1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 300px;
    width: 50%;
}

.contato {
    background-image: url('../images/fundo-contato.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    height: 600px;
    position: relative;
}

.contato h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 30px;
}

.contato address {
    font-size: 25px;
    font-weight: 600;
}

.contato .texto {
    position: absolute;
    top: 30%;
    left: 50%;
}

.rodape {
    background-image: url('../images/fundo-rodape.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    padding: 35px 30px;
    background-size: cover;
}

.rodape ul {
    float: right;
    margin-top: 30px;
}

.rodape ul li {
    display: inline-block;
    padding: 15px;
}

.rodape ul li a {
    color: white;
}

.rodape ul li a:hover {
    font-weight: bold;
}

.rodape .copyright {
    color: white;
}

.rodape .redes-sociais .facebook, .rodape .redes-sociais .instagram {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.rodape .redes-sociais {
    float: right;
    clear: both;
}

.rodape .conteudo-rodape {
    margin-top: 40px;
}